

<div class="overall">
    <div class="top container-fluid ">
    <div class="row">
    <div class="col-md-3"><a routerLink="/profile"  >Profile</a></div>
    <div class="col-md-3"><a routerLink="/post" >Post</a></div>
    <div class="col-md-3"><a routerLink="/allpost" >Allpost</a></div>
    <div class="col-md-3"><a routerLink="/user" >User</a></div>
    </div>
    </div>
    </div>





    